```txt id="0tbv9x"
streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
groq
faiss-cpu
pypdf
docx2txt
sentence-transformers
python-dotenv
transformers
torch
```
